* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  background-color: #efd6ac;
  height: 100%;
  font-family: sans-serif;
}
h1 {
  font-size: 56px;
  text-align: center;
  padding-top: 2%;
}
.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.container img {
  width: 100%;
}
.with-overlay {
 background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Skin\ \(1\).jpg");
  width: 50%;
}
